<!DOCTYPE html>
<html>
<p> forkandspoonit <p/>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>W&#173;e&#173;b Wa&#173;ffl&#173;l&#173;e</title>
   
    <meta name="theme-color" content="#00ff00">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="dns-prefetch" href="https://unpkg.com">
    <link rel="preconnect" href="https://arc.io">
    <link rel="dns-prefetch" href="https://arc.io">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat+Alternates">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700">
    <script defer="defer" src="assets/js/header.js"></script>
    <script async src="https://arc.io/widget.min.js#2BzvQ1em"></script>
</head>

<body>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div>
        <div class="header-dark hd-base">
            <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search" style="height: 100px;">
                <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                <div class="container"><a class="navbar-brand" data-bs-hover-animate="pulse" style="font-family: 'Montserrat Alternates', sans-serif;font-size: 21px;margin: 10px;font-style: normal;font-weight: bold;" href="/">Webwaffle&#173;</a>
                    <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                        <span class="sr-only">T&#173;ogg&#173;le nav&#173;igati&#173;on</span><span class="navbar-toggler-icon"></span>
                    </button>

                                <a class="dropdown-mod nav-link" style="font-size: 16px" data-animate="pulse" data-toggle="dropdown" aria-expanded="false" href="#">
                                    <i class="ion-md-options"></i>
                                </a>
                                <div id="csel" class="dropdown-menu" role="menu">
                                    <p class="csel-l">T&#173;ab Cl&#173;oak</p>
                                    <p class="csel-p">Ch&#173;a&#173;nge t&#173;he Tit&#173;le.</p>
                                    <form id="titleform"><input class="bg-dark border rounded-0 border shadow-lg" type="text" placeholder="Tab Title"><input class="btn btn-dark btn-sm bg-dark border-dark rounded-1 shadow-lg" style="margin-top: 5px;" data-bs-hover-animate="pulse"
                                            type="submit" value="Ap&#173;ply"></form>
                                    <p class="csel-p" style="margin-top: 5px;">C&#173;han&#173;ge t&#173;he <a href="/?i">Ic&#173;on</a>.</p>
                                    <form id="iconform"><input class="bg-dark border rounded-0 border shadow-lg" type="url" placeholder="Icon URL"><input class="btn btn-dark btn-sm bg-dark border-dark rounded-1 shadow-lg" style="margin-top: 5px;" data-bs-hover-animate="pulse"
                                            type="submit" value="Ap&#173;ply"></form>
                                    <form id="toolsform" style="margin-top: 10px;"><a class="btn btn-dark btn-lg bg-dark border-dark rounded-1 border shadow-lg" data-bs-hover-animate="pulse" href="/?x" type="button" class="tb-btn">Book&#173;mar&#173;kl&#173;et&#173;s</a></form>
                                </div>
                            </li>
                            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
            <div id="particles-js" class="in-bg">
                <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                <div class="d-popupbg" id="popup">
                    <p class="text-center">&#xFE0F;</p>
                </div>
                <div class="d-flex in-flex justify-content-center align-items-center">
                    <script src="particles.js"></script>
                    <script>
                        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
                        particlesJS.load('particles-js', 'particles.json', function() {
                            console.log('particlesjs loaded.......');
                        });
                    </script>
                    <div class="align-items-center in-splash">
                        <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                        <div class="container text-center justify-content-center align-items-center in-center">
                            <h1 title="End Internet Censorship" class="text-center d-md-flex flex-grow-1 justify-content-md-center align-items-md-center in-center in-splash-text">
                                End Intern&#173;et Censo&#173;rship.
                                <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
                                <br>Priv&#173;acy right at your fingertips.
                            </h1>
                            <button class="button rounded in-btn-color" type="button" data-hover="Epic!"><span><a
                                        href="/?z">By<wbr>p<wbr>a<wbr>s<wbr>s n<wbr>ow?</a></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <div class="footer-dark ft-bg">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 item text">
                        <h3><a href="/">Web<wbr>wa ff<wbr>le<wbr>c<wbr>ker</a></h3>
                        <p>Ma<wbr>de by St<wbr>ud<wbr>en<wbr>ts, Fo<wbr>r Stu<wbr>den<wbr>ts.&nbsp;</p>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Se<wbr>rvic<wbr>es</h3>
                        <ul>
			    <li><a id="clink">Corrosi<wbr>on</a></li>
                            <li><a id="nclink">No<wbr>d<wbr>eClu<wbr>st<wbr>e<wbr>rs</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a id="hblink">G<wbr>itHub</a></li>
                            <li><a href="/?t">P<wbr>riva<wbr>cy and Te<wbr>rms of Ser<wbr>v<wbr>ice</a></li>
                            <li><a href="/?c">Cre<wbr>dit<wbr>s</a></li>
                        </ul>
                    </div>
                    <div class="col item social center ft-g">
                        <a id="hblink2">
                            <i class="ion-logo-github"></i>
                        </a>
                    </div>
                </div>
                <p class="copyright">H<wbr>ol<wbr>y U<wbr>nb<wbr>lo<wbr>cke<wbr>r © 20<wbr>21</p>
            </div>
        </footer>
    </div>
    <!-- IMPORTANT-HUCOOKINGINSERT-DONOTDELETE -->
    <script src="expr/common.js"></script>
    <script src="assets/js/links.js"></script>
    <script src="expr/surf.js"></script>
    <script defer="defer" src="assets/js/jquery.min.js"></script>
    <script defer="defer" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>
